
#overlay-navi ul{
  list-style-type: none;
}

#overlay{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  max-height: 100%;
  /*overflow: hidden;*/
  width:100%;
  backdrop-filter: blur(6px);
  z-index:10;

}
#overlay-wrapper{
  position:absolute;
  z-index:10;
  left:9%;
  height:100%;
  width:82%;
  top:0;
}
#overlay-frame{
  position:absolute;
  /*width:1000px;
  left:calc(50% - 1000px/2);*/
  width:100%;
  top: 170px;
  height:100%;
  max-height:calc(100% - 170px);
}

#overlay-left{
  width:200px;
  height:100%;
  float:left;

}
#overlay-headline {

}
#overlay-navi{

}
#overlay-center{

}
#overlay-content{

}


#verwendung-slider{
  height:90px;
  width:800px;
  margin:auto;
  overflow: auto;
  max-height:90px;
  white-space:nowrap;
}
#hersteller-grid{
  position:absolute;
  top: 0;
  margin:auto;
  width:1200px;
  max-width:960px;
  left:300px;
}
#serien-list{
  position:absolute;
  top:0;
  left:20%;
  height:100%;
  max-height:100%;
  width:100%;
  overflow:auto;
}
.serien-tile{
  width:75%;/*
  height:100px;
  width:auto;*/
}
.serie-img-container{
}
.serie-img{
  width:69%;
  height:auto;
  float:left;
  margin-bottom:60px;
}
.serie-img-label{
  padding:20px;
  width:30%;
  float:left;
}

#messer-list{
  position:absolute;
  top:0;
  left:20%;
  height:100%;
  max-height:100%;
  width:100%;
  overflow:auto;
}
.messer-tile{
  width:75%;/*
  height:100px;
  width:auto;*/
}
.messer-img-container{
}
.messer-img{
  width:69%;
  height:auto;
  float:left;
  margin-bottom:60px;
}
.messer-img-label{
  padding:20px;
  width:30%;
  float:left;
}






.prod-tile{
  height:100px;
  width:240px;
  float:left;
  display: block;
}

.prod-img-container{
  height:100%;
  width:100%;
}
.thumb-hersteller{
  padding:15px;
  width:100%;
  height:auto;
  float:left;
  display: inline-block;
}
/*.verwendung-tile{
display: inline-block;
height:150px;
width:auto;
float:left;
}
*/
.label-prod{
  text-align:center;
  display: inline-block;
}
/*
.label-verwendung{
display:block;
text-align:center;
}*/
