/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/



.confiMenuRow{
	/*display:none;*/
}

#search-lightbox {
	background-color:#333;
}
.img .caption{
	transform: translateY(0) !important;
	-ms-transform: translateY(0) !important;
	background-color: unset !important;
	bottom: unset;
	left: 10px;
	font-size: 16px !important;
}
.verwendungen-slider .slider .flickity-viewport .flickity-slider .img .img-inner{
	height:60px !important;
}

.slider-style-focus {
	padding: 0 !important;
}

/*** Allgemein ***/

label {
	color: #aaa;
}
p, td {
	color: #999;
}
th {
	color: #ccc;
}
a{
	transition: 0.6s;
}
a:hover{
  transition: 0.2s;
	color: #b93535;
}
svg {
	fill: white;
}

.social-icons.follow-icons a {
	color: #999 !important;
	font-size: 1.1em !important;
}
/*
.nav-dropdown{
    display: none;
}
*/
/* Header */
a.nav-top-link:hover {
	color: #b93535 !important;
}

/*Footer*/
/*
body.home #footer{
	margin-top: -91px;
}
 #footer ul.nav{
	top:20px;
}

.social-footer{
	margin-bottom: -35px;
}

*/

.absolute-footer {
	display:none;
}
ul.nav li a{
	transition: color 0.8s;
	/*color: #b93535;*/
}
ul.nav li a:hover{
	transition: color 0.4s;
	color: #b93535;
}
/*
#footer{
	margin-top: -65px;
}
#footer ul.nav{
	top:20px;
}
*/
/*Preis*/
.amount {
	color: #c4c4c4 !important;
}
/*" x Ergebnisse werden angezeigt"*/

.woocommerce-result-count.hide-for-medium {
	display: none;
}

/*** Shop ***/
/*
body.archive main {
	background: url('https://typemyknife.de/wip2/wp-content/uploads/2020/01/dummybackground.png') no-repeat fixed center;

}
*/
/* Category Listing */
/*
@media only screen and (min-width:768px){
	.product-category.col.product{
	display: block;
	flex-basis: 33%;
	}

	.category-page-row{
		padding-top:30px;
	}
		div.product-category.col.product.first{
		padding-top: 40px !important;
	}
}


div.product-category .col-inner a div.box div.box-text{
	margin:20px;
}
div.product-category .col-inner a:hover h5{
	transition: color 0.4s;
	color: #b93535;
}
div.product-category .col-inner a h5{
	transition: color 0.8s;
	color: #ccc;
}
/*
/* Product Listing */

.wc-gzd-additional-info{
	display: none;
}


.wc-gzd-additional-info.tax-info {
	display: none;
}
.wc-gzd-additional-info.shipping-costs-info{
	display: none;
}
.widget.woocommerce.widget_layered_nav_filters h2{
	display:none;
}
/*
div.box-text.box-text-products div.title-wrapper{
	font-size: 20pt;
}
div.box-text.box-text-products div.price-wrapper{
	font-size: 12pt;
}
div.box-text.box-text-products p.box-excerpt.is-small{
	font-size: 12pt;
}
div.box-text.box-text-products{
	padding-bottom:50px !important;
}
/* Thumbnail im Katalog
 * - KRITISCH !!! */

div.product-small.box div.box-image {
	height:175px
}
div.product-small.box div.box-image div  {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}



/***Filtermenü***/

body.archive .mfp-content {
	transition: transform 2s, opacity .5s !important;
	width: 44% !important;
}

/*#shop-sidebar .sidebar-inner aside ul{
	display:none !important;
}*/
/*
#shop-sidebar .sidebar-inner aside .product-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#shop-sidebar .sidebar-inner aside .product-categories .cat-item-70 {
  float: left;
}
#shop-sidebar .sidebar-inner aside .product-categories .cat-item-156 {
  float: left;
}
*/
/*
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}*/
/*Geschenkbox*/
#shop-sidebar .sidebar-inner aside .product-categories .cat-item-71{
	display:none !important;
}
/*Messerkunst*/
#shop-sidebar .sidebar-inner aside .product-categories .cat-item-175{
	display:none !important;
}

/*
/*Hersteller*/
/*#shop-sidebar .sidebar-inner aside .product-categories .cat-item-70{
	display:none !important;
}*/
/*Verwendung*/
/*#shop-sidebar .sidebar-inner aside .product-categories .cat-item-156{
	display:none !important;
}
*/


/*** Produkt ***/


/* Breadcrumbs */

@media only screen and (min-width:768px){
.product-page-sections{

}
.product-section{
	display:block !important;
	float:left !important;
	width:50%;
	padding-left:70px;
}
.product-section .large-2{
	display: none;
}
}



/*
nav.woocommerce-breadcrumb.breadcrumbs{
	color: #ccc;
	font-size:17pt;
	margin-bottom:20pt;
}
nav.woocommerce-breadcrumb.breadcrumbs{
	margin: 5px;
}
*/


/*
body.archive .woocommerce-breadcrumb.breadcrumbs {
	pointer-events:none;
}*/

h1.product-title{
	padding-top:26px;
	color:#ddd;
	font-size: 24pt;
	font-weight: unset;
}

div.product-footer{
	margin-top: 0 !important;
}
/*
.flickity-viewport {
	background-color: rgba(220,210,205,.8);
	min-height: 40vh;
}*/
.woocommerce-product-gallery__image {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/*
.product-info{
	height:320px;
}


*/

/*Voschau Verpackungen*/
ul.dd-options li a img[src*="woocommerce-placeholder"]{
	visibility: hidden;
}
.dd-select img[src*="woocommerce-placeholder"]{
	visibility: hidden;
	background-color: #000;
}

/*Button*/


/*Warenkorb Button in Ansicht*/
div.summary-content.ps-container.ps-theme-wpc form.cart{
	display:none;
}

/*** Warekorb ***/

nav.breadcrumbs a:hover:not(.current){
	color: #b93535 !important;
}
a.current{
	color: #777 !important;
}
a.button-continue-shopping{
	/*background-color: #202020 !important;*/
	color: #777 !important;
}
table.shop_table.woocommerce-checkout-review-order-table{
	background-color: #333;
	padding: 15px
}

/*** Blog ***/
.cat-label{
	display:none;
}

.blog-wrapper.blog-archive.page-wrapper{
	padding-top: 0;
}
.box-text.text-center{
	top:0px;
}
/* Beitrag aka Newspost */
div.title-bg.bg-fill{
	background-position: center;
}

/*** Rechtliches ***/
/* Kontaktforumlar */
.wpcf7{
	color: unset;
}
textarea, .form-flat input:not([type="submit"]), .form-flat.textarea, .form-flat.select{
	background-color:rgba(0,0,0,0.15) !important;
}



@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/

/*TABLET PLEASE
*/
body.home #footer{
	margin-top: 0px;
}
body.home #footer ul.nav{
	top:10px;
}
/*
*/


ul.nav.header-bottom-nav.nav-center.mobile-nav li a{
	font-size:9pt;
	margin-top: -8pt;
}
ul.nav.header-bottom-nav.nav-center.mobile-nav li{
	margin-left: 4pt;
	margin-right: 4pt;
}
ul.nav.header-bottom-nav.nav-center.mobile-nav li{
height:30px;
}


footer li{
	font-size:11pt !important;
	margin: 4pt !important;
}
footer a{
	margin: 2pt !important;
	padding: 0pt !important;
}

}

/* Royal slider style */

.slider-banner-wrap {
	position: relative;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
}
.slider-banner-wrap .slider-inn-wrap-ctn div {
	background-color: transparent !important;
}
.slider-banner-wrap .absolute-banner-wrap {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider-banner-wrap .absolute-banner-wrap .banner {
	height: 100%;
    padding: 0 !important;
}



div:not([class]):not([id]) > p:not([class]):not([id]) a {
	color: #fff;
}
div:not([class]):not([id]) iframe {
	display: none !important;
}
.site-logo-wrap {
    width: 230px;
}
.slider-banner-wrap .site-logo-wrap {
    position: relative;
    z-index: 999;
	padding-top: 30px;
	margin: 0 auto;
}
.banner-heading {
    color: #fff !important;
    font-size: 37px !important;
    font-weight: 400 !important;
}

.banner-main-heading {
	font-size: 70px !important;
    line-height: 60px !important;
    font-family: raleway;
    font-weight: 700 !important;
}
.start-link {
    width: 90px;
    height: 90px;
    background: #242424;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
	margin: 0 auto;
	position: relative;
	margin-top: 80px;
        font-size: 22px;
         margin-top: 60px;
    line-height: 72px;
    
}
.start-link:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid #cf0707;
	border-radius: 50%;
	top: -5px;
	left: -5px;
}

@media (max-width: 1367px) {
	.site-logo-wrap {
		width: 200px;
	}
	.banner-heading {
		color: #fff !important;
		font-size: 27px !important;
		font-weight: 400 !important;
	}
	.banner-main-heading {
		font-size:50px !important;
		line-height: 50px !important;
	}
	.start-link {
		width: 70px;
		height: 70px;
		margin-top: 60px;
                font-size: 18px;
                line-height: 60px;
	}
        
	.start-link:before {
		width: 80px;
		height: 80px;
	}
}
@media (max-width: 768px) {
	.site-logo-wrap {
		width: 150px;
	}
	.banner-heading {
		color: #fff !important;
		font-size: 22px !important;
		font-weight: 400 !important;
	}
	.banner-main-heading {
		font-size: 40px !important;
		line-height: 40px !important;
	}
        .start-button-wrap{ text-align: center;}
	.start-link {
            display: inline-block;
		width: 60px;
		height: 60px;
		margin-top: 40px;
                line-height: 50px;
                font-size: 14px;
	}
	.start-link:before {
		width: 66px;
		height: 66px;
		top: -3px;
		left: -3px;
	}
}