<script>

var v3d_product_id = '';
let one_side_price,sec_side_price =0;
let knife_price_calc = 0;
let firstside_price,secside_price =0;

function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
}
let v3d_GUID = uuidv4();

// let firstside_price,secside_price =0;
</script>
<input type="hidden" id="v3d_selected_product" name="v3d_selected_product" value="" />
<div id="viewportcontainer"></div>

<div id="svgfrontside"></div>
<div id="svgbackside"></div>
<div id="gui">
    <div id="p5container">
     <div style="display:none" class="rotate-degree-d">
      <span class="rotate-val-d" data-val="0">
        <i class="rotate-val-d fa fa-rotate-right"></i>
      </span>
      <!-- <span >0</span>
      <span class="rotate-val-d">90</span>
      <span class="rotate-val-d">180</span>
      <span class="rotate-val-d">270</span>
      <span class="rotate-val-d">360</span> -->
    </div>
    
    </div>
    <div id="name" style="top:18%"><h1></h1></div>
    <!-- 
<div id="preis"><h3></h3></div> -->
    <div class="toggle-configurator-menu"><a href="javascript:void(0)" class="toggle-configurator-menu-a"><i class="fa fa-bars"></i></a></div>
    <div class="navi">
        <a href="javascript:void(0);" class="upload-pic-s" >Add Picture</a><br />
        <ul class="upload-pic-ul-s hide-pic-ul">
          <li><a href="javascript:void(0);" onclick="jQuery('#imageBrowse').trigger('click');">Upload from pc</a></li>
          <li><a href="javascript:void(0)" class="load-gallery-d">Select from gallery</a></li>
        </ul>
        <a href="javascript:void(0);" onclick="Knife.switchSide();">Ansicht wechseln</a><br />
        <a href="https://typemyknife.com/dev/shop/">Messer wählen</a><br />
       <!-- <a href="javascript:void(0);" onclick="mainMenu.loadSite('hersteller');">Messer wählen</a><br /> -->
        <!-- <a href="javascript:void(0);" onclick="gui.confi.toggle();">Toggle 2D-Confi</a><br/> <a href="javascript:void(0);" onclick="p5s.addText();">Add Text Update</a><br/>-->
        <a href="javascript:void(0);" onclick="p5s.openTextBlock();">Add Text</a><br />
        <a href="javascript:void(0);" onclick="p5s.invertImage();">Invert</a><br />
        <a href="javascript:void(0);" onclick="p5s.saveSVG();">Save File</a><br />
        <a href="javascript:void(0);" class="add-cart-v3d-d">Add to cart</a><br />
        <a href="javascript:void(0);" class="view-designed-knife" style="display: none;" >View Design</a><br />
        <ul class="view-designed-knife-ul-s view-designed-knife-ul">
          <li><a href="javascript:void(0);" target="_blank" style="display: none;" class="load-front-img">Front Image</a></li>
          <li><a href="javascript:void(0)" target="_blank" style="display: none;" class="load-back-img">Back Image</a></li>
        </ul>
        
        <br />
        
        <span style="display: none;" onclick="Knife.switch('4126')">LOAD KNOFE</span><br />
        
    </div>
   
    <div id="price"></div>
    <div id="warenkorb-button"></div>

</div>
<!--<div id="fabrics_canvas_div">
    <canvas id="fabrics_canvas_append" width="400" height="200" style="border:1px solid #d3d3d3;">asdasd</canvas>
</div> -->
<div id="texturebuffercontainer"></div>
<div id="mainmenucontainer"></div>

<style>
    .text-block-d {
        position: absolute;
        z-index: 10;
        left: 9%;
        height: 100%;
        width: 82%;
        top: 0;
        display: none;
        z-index: 999;
        background: #000;
    }
    .text-block-d label {width: 20%;}
    #canvastext ,#textCanvas{
        visibility: hidden;
        position: fixed;
        pointer-events: unset;
    }
   /* #canvastext { display:none !important; }
    #textCanvas { display:none; }*/

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>
<div class="all-google-fonts">
  <div style="font-family:Poppins">asdDsss</div>
  <div style="font-family:Charm">Charm</div>
  <div style="font-family:'Acme', sans-serif">Charm</div>
  <div style="font-family:'Raleway', sans-serif">Charm</div>
  <div style="font-family:'Kanit', sans-serif">Charm</div>
  <div style="font-family:'Aladin', cursive">Charm</div>
  <div style="font-family:'Bevan', cursive">Charm</div>
  <div style="font-family:'Poppins', sans-serif">Charm</div>
  <div style="font-family:'Acme', sans-serif">Charm</div>
  <div style="font-family:'Aclonica', sans-serif">Charm</div>
  <div style="font-family:'Alegreya Sans SC">Charm</div>
  <div style="font-family:'Aclonica', sans-serif">Charm</div>
  <div style="font-family:'Pattaya', sans-serif">Charm</div>
  <div style="font-family:'Asul', sans-serif"></div>
  <div style="font-family:'Black And White Picture', sans-serif"></div>
  <div style="font-family:'PT Serif', serif"></div>
  <div style="font-family:'Castoro', serif"></div>
  <div style="font-family:'Dancing Script', cursive"></div>
  <div style="font-family:'Crafty Girls', cursive"></div>
  <div style="font-family:'Princess Sofia', cursive"></div>
</div>


<div class="loading load-d" style="display:none">Loading&#8230;</div>
<div class="text-block-d">
    <form>
        <span><i class="fa fa-close close-text-d"></i></span>
        <label>
            <span>Add Text</span>
            <input type="text" name="v3d_text" id="v3d_text" autofocus />
        </label>
        <label>
            <span>Font Size</span>
            <select name="v3d_text" id="v3d_font_size">
                <option value="25px">25px</option>
                <option value="28px">28px</option>
                <option value="30px">30px</option>
                <option value="35px">35px</option>
                <option value="40px">40px</option>
                <option value="45px">45px</option>
                <option value="50px">50px</option>
            </select>
        </label>
        <label>
            <span>Font Weight</span>
            <select name="v3d_font_weight" id="v3d_font_weight">
                <option value="">Select</option>
                <option value="bold">Bold</option>
                <option value="small">Small</option>
                <option value="italic">Italic</option>
            </select>
        </label>
        <label>
            <span>Font Family</span>
            <select name="v3d_text" id="v3d_font_family">
                <option value="'Acme', sans-serif">Acme</option>
              <option value="'Raleway', sans-serif">Raleway</option>
              <option value="'Kanit', sans-serif">Kanit</option>
              <option value="'Aladin', cursive">Aladin</option>
              <option value="'Bevan', cursive">Bevan</option>
              <option value="'Poppins', sans-serif">Poppins</option>
              <option value="'Kanit', sans-serif">Kanit</option>
              <option value="'Aclonica', sans-serif">Aclonica</option>
              <option value="'Alegreya Sans SC', sans-serif">Alegreya Sans SC</option>
              <option value="'Aclonica', sans-serif">Aclonica</option>
              <option value="'Pattaya', sans-serif">Pattaya</option>
              <option value="'Asul', sans-serif">Asul</option>
              <option value="'Black And White Picture', sans-serif">Black And White Picture</option>
              <option value="'PT Serif', serif">PT Serif</option>
              <option value="'Castoro', serif">Castoro</option>
              <option value="'Dancing Script', cursive">Dancing Script</option>
              <option value="'Crafty Girls', cursive">Crafty Girls</option>
              <option value="'Princess Sofia', cursive">Princess Sofia</option>

            </select>
        </label>
        <a href="javascript:void(0)" onclick="p5s.addText();" class="draw-text-d">Draw Text</a>
    </form>
</div>
<div id="script-s"></div>
<!--
<script src="../wp-content/themes/flatsome-child/configurator/knife.js"></script>
<script src="../wp-content/themes/flatsome-child/configurator/viewport.js"></script>
<script src="../wp-content/themes/flatsome-child/configurator/gui.js"></script>
<script src="../wp-content/themes/flatsome-child/configurator/vector.js"></script>
<script src="../wp-content/themes/flatsome-child/configurator/main-menu.js"></script> -->

<script>
    var app = new v3d.App('viewportcontainer', ctxSettings, null); // <- preloader statt null
    var p5s = new p5(sketch, 'p5container');

    var p5render = new p5(rendersketch, 'texturebuffercontainer');
    var p5s_svg;
    var p5s_backside_svg;
    //var p5s_svg = new p5(renderSVGsketch, 'svgcontainer');
    //p5render.type = "SVG";

    //
    
    // if(model3d_file_url && model3d_file_url !='')
    // {
    //  var confiUrl = model3d_file_url;
    // }
    // else
    // {
     var confiUrl = home_page_ur+'/wp-content/themes/flatsome-child/configurator/bin/configurator.glb.xz';
      //var confiUrl ='https://typemyknife.com/dev/wp-content/uploads/2020/11/DICK-1778-Chinesisches-Kochmesser.glb.xz';
    //}

    jQuery(document).ready(function () {
       
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('prod_id') == true) {
            v3d_product_id = urlParams.get('prod_id');
            jQuery('#name > h1').val(urlParams.get('prod_name'));
        } else {
            v3d_product_id = 1330;
        }
        //gui.confi.toggle();
        jQuery('footer').hide();
        jQuery('#p5container').hide();


        jQuery(window).load(function() {
          // your code here…
          let urlParams = new URLSearchParams(window.location.search);
          if(urlParams.has('prod_id') == true) {
                let v3d_prod_id = urlParams.get('prod_id');
                Knife.switch(v3d_prod_id);
          }
        });

        jQuery(".toggle-configurator-menu-a").click(function(){
          jQuery(".navi").slideToggle();
        });
    });

    //mainMenu.loadSite('hersteller');
    /*
    imageBtn = p.createButton('Bild hinzufügen');
    imageBtn.position(-250, 0);
    imageBtn.size(300,);
    imageBtn.id("imageButton");
    jQuery("#imageButton").click(function () {
    jQuery("#imageBrowse").trigger('click');
    });

    var switchSceneBtn = p.createButton('Messer wechseln');
    switchSceneBtn.position(-250, 60);
    switchSceneBtn.size(300,50);
    switchSceneBtn.mousePressed(toggleShop);
    //switchSceneBtn.mousePressed(switchKnife);

    getVecBtn = p.createButton('Vector speichern');
    getVecBtn.position(-250, 120);
    getVecBtn.size(300,50);
    getVecBtn.mousePressed(p.saveSVG);

    var switchSideBtn = p.createButton('Seite wechseln');
    switchSideBtn.position(-250, 180);
    switchSideBtn.size(300,50);
    switchSideBtn.mousePressed(function(){
    p.switchSide();
    if(currentSide){
    tweenCamera('FrontPosEmpty', 'Empty', 2, function() {
    console.log("tweensomething?");
    });
    } else {
    tweenCamera('BackPosEmpty', 'Empty', 2, function() {});
    }
    }
    );*/
</script>