
/************************************
viewport
*************************************/

#viewportcontainer {
  position: absolute;
  left: 0px;
  top: 0px;
  /*top:-100px;*/
  /*width:1024px;
  height:600px;*/
  width:100%;
  height:100%;

  border-radius: 5px;
}

/*#p5container {
}*/





/************************************
gui
*************************************/


#p5canvas {
  position: absolute;
  z-index: 12000;
  /*border-radius: 10px;*/
  /*max-width:400px;
  max-height:200px;*/

}
#p5container {
  z-index: 12000;
  position: absolute;
  /*float: left;
  display: block;

  width:400px;
  height:600px;
*/


  /*display: block !important; */
  bottom:40px;
  left:calc(50% - 620px/2);
  height:200px;
  width:400px;

  pointer-events:all;
  touch-action:all;
}
button{
  width:170px;
}

.navi{
  position:absolute;
  bottom:100px;
  pointer-events:all;
  touch-action:all;
}

#name{
  position: absolute;
  width:100%;
  /*left:60px;*/
  bottom: 200px;
}
#name h1{
  text-align: center;
}
#preis{
  position: absolute;
  width:100%;
  bottom:175px;
}
#preis h3{
  text-align: center;
}

#preis{

}
#warenkorb-button{

}

#gui{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  margin:0;
  padding:0;
  z-index: 1200;
  pointer-events:none;
  touch-action:none;
  /*z-index: 1200;*/
  /*display: none;*/
  /*display: block !important;
  position: absolute;
  bottom:40px;*/
  /*left:80px;*/
  /*left:calc(50% - 620px/2);
  height:200px !important;
  width:400px !important;*/
}
.view-designed-knife-ul{display: none;}


/************************************
menu
*************************************/


#main-menu-navi ul{
  list-style-type: none;
}

#main-menu{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  max-height: 100%;
  /*overflow: hidden;*/
  width:100%;
  backdrop-filter: blur(6px);
  z-index:10;

}
#mainmenucontainer{
  position:absolute;
  z-index:10;
  left:9%;
  height:100%;
  width:82%;
  top:0;
  display:none;
}
#main-menu-frame{
  position:absolute;
  /*width:1000px;
  left:calc(50% - 1000px/2);*/
  width:100%;
  top: 170px;
  height:100%;
  max-height:calc(100% - 170px);
}

#main-menu-left{
  width:200px;
  height:100%;
  float:left;

}
#main-menu-headline {

}
#main-menu-navi{

}
#main-menu-center{

}
#main-menu-content{

}


#verwendung-slider{
  height:90px;
  width:800px;
  margin:auto;
  overflow: auto;
  max-height:90px;
  white-space:nowrap;
}
#hersteller-grid{
  position:absolute;
  top: 0;
  margin:auto;
  width:1200px;
  max-width:960px;
  left:300px;
}
#serien-list{
  position:absolute;
  top:0;
  left:20%;
  height:100%;
  max-height:100%;
  width:100%;
  overflow:auto;
}
.serien-tile{
  width:75%;/*
  height:100px;
  width:auto;*/
}
.serie-img-container{
}
.serie-img{
  width:69%;
  height:auto;
  float:left;
  margin-bottom:60px;
}
.serie-img-label{
  padding:20px;
  width:30%;
  float:left;
}

#messer-list{
  position:absolute;
  top:0;
  left:20%;
  height:100%;
  max-height:100%;
  width:100%;
  overflow:auto;
}
.messer-tile{
  width:75%;/*
  height:100px;
  width:auto;*/
}
.messer-img-container{
}
.messer-img{
  width:69%;
  height:auto;
  float:left;
  margin-bottom:60px;
}
.messer-img-label{
  padding:20px;
  width:30%;
  float:left;
}






.prod-tile{
  height:100px;
  width:240px;
  float:left;
  display: block;
}

.prod-img-container{
  height:100%;
  width:100%;
}
.thumb-hersteller{
  padding:15px;
  width:100%;
  height:auto;
  float:left;
  display: inline-block;
}
/*.verwendung-tile{
display: inline-block;
height:150px;
width:auto;
float:left;
}
*/
.label-prod{
  text-align:center;
  display: inline-block;
}
/*
.label-verwendung{
display:block;
text-align:center;
}*/
